#carousel .carousel-inner {
  width: 100%;
  max-height:800px;
}

.carousel-caption {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: center;
}
@media (max-width: 484px) {
  .title{
    font-size: 1.5rem;
  }
  .btn-list {
    font-size: 12px;
  }
  .btn-img {
    font-size: 15px;
  }
  .short-description{
    font-size: 0.8rem;
  }
  .detail-value {
    font-size: 15px;
  }
}
@media (max-width: 767px) and (min-width: 485px) {
  .title{
    font-size: 2.5rem;
    font-weight: bolder;
  }
  .btn-list {
    font-size: 15px;
  }
  .btn-img {
    font-size: 18px;
  }
  .short-description{
    font-size: 1rem;
  }
  .detail-value {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .btn-list {
    font-size: 25px;
  }
  .btn-img {
    font-size: 30px;
  }
  .short-description{
    font-size: 1.5rem;
  }
  .title{
    font-size: 5rem;
    font-weight: bolder;
  }
  .detail-value {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .btn-list {
    font-size: 25px;
  }
  .btn-img {
    font-size: 30px;
  }
  .short-description{
    font-size: 3rem;
  }

  .title{
    font-size: 7rem;
    font-weight: bolder;
  }
  .detail-value {
    font-size: 20px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 28
}

.row.border-bottom {
  border-bottom-color: white !important;
  border-bottom-width: 3px !important;
}
.text-shadow {
  text-shadow: 2px 2px 4px var(--bs-success);
}
.icon-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  height: 100%;
}

.title-detail{
  font-size: 20px;
  font-weight: bolder;
}

.description-title {
  font-size: 60px;
  font-weight: bolder;
}

.description-value {
  font-size: 18px;
  font-weight: bold;
}


.button-glitch,
.button-glitch:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, var(--bs-primary) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px var(--bs-info);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-glitch:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'VISITE SITE';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, var(--bs-info) 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-glitch:hover:after{
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

.button-back-glitch,
.button-back-glitch:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, var(--bs-info) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px var(--bs-primary);
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-back-glitch:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'GO HOME';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, var(--bs-primary) 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-back-glitch:hover:after{
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-glitch,
  .button-glitch:after {
    width: 200px;
    height: 90px;
    line-height: 88px;
    font-size: 28px;
  }
  .button-back-glitch,
  .button-back-glitch:after {
    width: 200px;
    height: 90px;
    line-height: 88px;
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .button-glitch,
  .button-glitch:after {
    width: 150px;
    height: 40px;
    line-height: 34px;
    font-size: 15px;
  }
  .button-back-glitch,
  .button-back-glitch:after {
    width: 150px;
    height: 40px;
    line-height: 34px;
    font-size: 15px;
  }
}
